<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70004424139-0igprtd6u4m7b07287q9g7tdicetlplh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70004424139-0igprtd6u4m7b07287q9g7tdicetlplh</string>
	<key>API_KEY</key>
	<string>AIzaSyCI1FHHMkmdIJFQn2ZaKChjKDjCzEjqunU</string>
	<key>GCM_SENDER_ID</key>
	<string>70004424139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LeeHsss.CreditCardRecommend</string>
	<key>PROJECT_ID</key>
	<string>creditcardrecommend</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcardrecommend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70004424139:ios:580702cd8428243cccca4e</string>
</dict>
</plist>